// $prefix: l !default;
/* #ifndef APP-NVUE || UNI-APP-X && APP */
@font-face {
  font-family: $prefix;
  src: url('https://tdesign.gtimg.com/icon/0.3.0/fonts/t.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
/* #endif */

/* #ifdef UNI-APP-X && APP */
@font-face {
  font-family: $prefix;
  /* #ifdef APP-HARMONY */
  src: url('/uni_modules/lime-icon/hybrid/html/t3.ttf');
  /* #endif */
  /* #ifndef APP-HARMONY */
  src: url('uni_modules/lime-icon/hybrid/html/t3.ttf');
  /* #endif */
}
/* #endif */