{
  "plugins": ["./prettier-plugin-uts.js"],
  "overrides": [
    {
      "files": "*.uvue",
      "options": {
        "parser": "vue"
      }
    },
    {
      "files": "*.uts",
      "options": {
        "parser": "typescript"
      }
    }
  ],
  "prettier.documentSelectors": ["!**/*.uvue", "!**/*.uts"],
  "vueIndentScriptAndStyle": true,
  "tabWidth": 2,
  "useTabs": false
}
