/* Agent Detail 页面样式 */

.agent-detail-container {
	display: flex;
	// padding-top: env(safe-area-inset-top);


	.right-buttons {
		display: flex;
		flex-direction: row;

		.icon-box {
			width: 80rpx;
			height: 80rpx;
			display: flex;
			align-items: center;
			justify-content: center;
			border-radius: 12rpx;

			&-hover {
				background-color: rgba(12, 20, 102, 0.04);
			}
		}
	}

	.content {
		flex: 1;
		padding: 32rpx;
		overflow-y: auto;

		.title-section {
			margin-bottom: 40rpx;
		}
	}

	.chat-container {
		flex: 1;

		.scroll-view-box {
			flex: 1;
			position: relative;

			.msg-list {
				flex: 1;

				.user-msg {
					font-size: 16px;
					margin-left: auto;
					margin-right: 32rpx;
					max-width: 600rpx;
					padding: 32rpx;
					border-radius: 24rpx 0 24rpx 24rpx;
					background: rgba(12, 20, 102, 0.12);
					color: #15171F;
					// font-size: 28rpx;
					font-weight: 400;
					line-height: 48rpx;

					/* #ifdef WEB */
					cursor: text;
					user-select: text;
					white-space: pre-wrap;
					word-break: break-all;
					/* #endif */
				}

				.msg-list-content {
					display: flex;
					flex-direction: column;
					gap: 48rpx;
					padding: 16rpx 0;

					.files-container {
						width: 100%;
						margin-left: auto;
						padding: 0 32rpx;
						box-sizing: border-box;
						display: flex;
						flex-direction: row;
						flex-wrap: nowrap;
						align-items: flex-end;
						height: auto;
						min-height: 128rpx;

						.files-box {
							display: flex;
							flex-direction: row;
							align-items: center;
							justify-content: center;
							margin-right: 16rpx;
							border-radius: 16rpx;
							overflow: hidden;
							flex-shrink: 0;

							&-plus {
								width: 128rpx;
								height: 128rpx;
								background: #f6f6f6;
							}

							&-image {
								width: 128rpx;
								height: 128rpx;
								background: #f6f6f6;
							}

							&-file {
								width: 400rpx;
								padding: 16rpx;
								background: rgba(12, 20, 102, 0.04);
								gap: 8rpx;
								overflow: hidden;

								.doc-image {
									display: flex;
									align-items: center;
									justify-content: center;
									width: 96rpx;
									height: 96rpx;
								}

								.doc-info-container {
									flex: 1;
									display: flex;
									flex-direction: column;
									gap: 4rpx;
									font-weight: 400;

									.doc-name {
										font-size: 28rpx;
										color: #15171F;
									}

									.doc-size {
										font-size: 24rpx;
										color: #828894;
									}
								}
							}

							.image {
								width: 100%;
								height: 100%;
							}
						}
					}
				}
			}

			.scroll-to-bottom {
				position: absolute;
				bottom: 10px;
				right: 10px;
				width: 35px;
				height: 35px;
				justify-content: center;
				align-items: center;
				background-color: #FFF;
				border-radius: 50px;
				padding: 5px;
				box-shadow: 0 0 10px 0 rgba(0,0,0,0.3);
				z-index: 10;

				/* #ifdef APP-HARMONY */
				border: 1px solid #efefef;
				/* #endif */

				.iconfont {
					font-size: 40rpx;
					color: #555;
				}
			}
		}
	}
}
