/* KaTeX 字体大小样式 */
:deep(.katex .fontsize-ensurer.reset-size1.size1),
:deep(.katex .sizing.reset-size1.size1) {
  font-size: 1em
}

:deep(.katex .fontsize-ensurer.reset-size1.size2),
:deep(.katex .sizing.reset-size1.size2) {
  font-size: 1.2em
}

:deep(.katex .fontsize-ensurer.reset-size1.size3),
:deep(.katex .sizing.reset-size1.size3) {
  font-size: 1.4em
}

:deep(.katex .fontsize-ensurer.reset-size1.size4),
:deep(.katex .sizing.reset-size1.size4) {
  font-size: 1.6em
}

:deep(.katex .fontsize-ensurer.reset-size1.size5),
:deep(.katex .sizing.reset-size1.size5) {
  font-size: 1.8em
}

:deep(.katex .fontsize-ensurer.reset-size1.size6),
:deep(.katex .sizing.reset-size1.size6) {
  font-size: 2em
}

:deep(.katex .fontsize-ensurer.reset-size1.size7),
:deep(.katex .sizing.reset-size1.size7) {
  font-size: 2.4em
}

:deep(.katex .fontsize-ensurer.reset-size1.size8),
:deep(.katex .sizing.reset-size1.size8) {
  font-size: 2.88em
}

:deep(.katex .fontsize-ensurer.reset-size1.size9),
:deep(.katex .sizing.reset-size1.size9) {
  font-size: 3.456em
}

:deep(.katex .fontsize-ensurer.reset-size1.size10),
:deep(.katex .sizing.reset-size1.size10) {
  font-size: 4.148em
}

:deep(.katex .fontsize-ensurer.reset-size1.size11),
:deep(.katex .sizing.reset-size1.size11) {
  font-size: 4.976em
}

:deep(.katex .fontsize-ensurer.reset-size2.size1),
:deep(.katex .sizing.reset-size2.size1) {
  font-size: .83333333em
}

:deep(.katex .fontsize-ensurer.reset-size2.size2),
:deep(.katex .sizing.reset-size2.size2) {
  font-size: 1em
}

:deep(.katex .fontsize-ensurer.reset-size2.size3),
:deep(.katex .sizing.reset-size2.size3) {
  font-size: 1.16666667em
}

:deep(.katex .fontsize-ensurer.reset-size2.size4),
:deep(.katex .sizing.reset-size2.size4) {
  font-size: 1.33333333em
}

:deep(.katex .fontsize-ensurer.reset-size2.size5),
:deep(.katex .sizing.reset-size2.size5) {
  font-size: 1.5em
}

:deep(.katex .fontsize-ensurer.reset-size2.size6),
:deep(.katex .sizing.reset-size2.size6) {
  font-size: 1.66666667em
}

:deep(.katex .fontsize-ensurer.reset-size2.size7),
:deep(.katex .sizing.reset-size2.size7) {
  font-size: 2em
}

:deep(.katex .fontsize-ensurer.reset-size2.size8),
:deep(.katex .sizing.reset-size2.size8) {
  font-size: 2.4em
}

:deep(.katex .fontsize-ensurer.reset-size2.size9),
:deep(.katex .sizing.reset-size2.size9) {
  font-size: 2.88em
}

:deep(.katex .fontsize-ensurer.reset-size2.size10),
:deep(.katex .sizing.reset-size2.size10) {
  font-size: 3.45666667em
}

:deep(.katex .fontsize-ensurer.reset-size2.size11),
:deep(.katex .sizing.reset-size2.size11) {
  font-size: 4.14666667em
}

:deep(.katex .fontsize-ensurer.reset-size3.size1),
:deep(.katex .sizing.reset-size3.size1) {
  font-size: .71428571em
}

:deep(.katex .fontsize-ensurer.reset-size3.size2),
:deep(.katex .sizing.reset-size3.size2) {
  font-size: .85714286em
}

:deep(.katex .fontsize-ensurer.reset-size3.size3),
:deep(.katex .sizing.reset-size3.size3) {
  font-size: 1em
}

:deep(.katex .fontsize-ensurer.reset-size3.size4),
:deep(.katex .sizing.reset-size3.size4) {
  font-size: 1.14285714em
}

:deep(.katex .fontsize-ensurer.reset-size3.size5),
:deep(.katex .sizing.reset-size3.size5) {
  font-size: 1.28571429em
}

:deep(.katex .fontsize-ensurer.reset-size3.size6),
:deep(.katex .sizing.reset-size3.size6) {
  font-size: 1.42857143em
}

:deep(.katex .fontsize-ensurer.reset-size3.size7),
:deep(.katex .sizing.reset-size3.size7) {
  font-size: 1.71428571em
}

:deep(.katex .fontsize-ensurer.reset-size3.size8),
:deep(.katex .sizing.reset-size3.size8) {
  font-size: 2.05714286em
}

:deep(.katex .fontsize-ensurer.reset-size3.size9),
:deep(.katex .sizing.reset-size3.size9) {
  font-size: 2.46857143em
}

:deep(.katex .fontsize-ensurer.reset-size3.size10),
:deep(.katex .sizing.reset-size3.size10) {
  font-size: 2.96285714em
}

:deep(.katex .fontsize-ensurer.reset-size3.size11),
:deep(.katex .sizing.reset-size3.size11) {
  font-size: 3.55428571em
}

:deep(.katex .fontsize-ensurer.reset-size4.size1),
:deep(.katex .sizing.reset-size4.size1) {
  font-size: .625em
}

:deep(.katex .fontsize-ensurer.reset-size4.size2),
:deep(.katex .sizing.reset-size4.size2) {
  font-size: .75em
}

:deep(.katex .fontsize-ensurer.reset-size4.size3),
:deep(.katex .sizing.reset-size4.size3) {
  font-size: .875em
}

:deep(.katex .fontsize-ensurer.reset-size4.size4),
:deep(.katex .sizing.reset-size4.size4) {
  font-size: 1em
}

:deep(.katex .fontsize-ensurer.reset-size4.size5),
:deep(.katex .sizing.reset-size4.size5) {
  font-size: 1.125em
}

:deep(.katex .fontsize-ensurer.reset-size4.size6),
:deep(.katex .sizing.reset-size4.size6) {
  font-size: 1.25em
}

:deep(.katex .fontsize-ensurer.reset-size4.size7),
:deep(.katex .sizing.reset-size4.size7) {
  font-size: 1.5em
}

:deep(.katex .fontsize-ensurer.reset-size4.size8),
:deep(.katex .sizing.reset-size4.size8) {
  font-size: 1.8em
}

:deep(.katex .fontsize-ensurer.reset-size4.size9),
:deep(.katex .sizing.reset-size4.size9) {
  font-size: 2.16em
}

:deep(.katex .fontsize-ensurer.reset-size4.size10),
:deep(.katex .sizing.reset-size4.size10) {
  font-size: 2.5925em
}

:deep(.katex .fontsize-ensurer.reset-size4.size11),
:deep(.katex .sizing.reset-size4.size11) {
  font-size: 3.11em
}

:deep(.katex .fontsize-ensurer.reset-size5.size1),
:deep(.katex .sizing.reset-size5.size1) {
  font-size: .55555556em
}

:deep(.katex .fontsize-ensurer.reset-size5.size2),
:deep(.katex .sizing.reset-size5.size2) {
  font-size: .66666667em
}

:deep(.katex .fontsize-ensurer.reset-size5.size3),
:deep(.katex .sizing.reset-size5.size3) {
  font-size: .77777778em
}

:deep(.katex .fontsize-ensurer.reset-size5.size4),
:deep(.katex .sizing.reset-size5.size4) {
  font-size: .88888889em
}

:deep(.katex .fontsize-ensurer.reset-size5.size5),
:deep(.katex .sizing.reset-size5.size5) {
  font-size: 1em
}

:deep(.katex .fontsize-ensurer.reset-size5.size6),
:deep(.katex .sizing.reset-size5.size6) {
  font-size: 1.11111111em
}

:deep(.katex .fontsize-ensurer.reset-size5.size7),
:deep(.katex .sizing.reset-size5.size7) {
  font-size: 1.33333333em
}

:deep(.katex .fontsize-ensurer.reset-size5.size8),
:deep(.katex .sizing.reset-size5.size8) {
  font-size: 1.6em
}

:deep(.katex .fontsize-ensurer.reset-size5.size9),
:deep(.katex .sizing.reset-size5.size9) {
  font-size: 1.92em
}

:deep(.katex .fontsize-ensurer.reset-size5.size10),
:deep(.katex .sizing.reset-size5.size10) {
  font-size: 2.30444444em
}

:deep(.katex .fontsize-ensurer.reset-size5.size11),
:deep(.katex .sizing.reset-size5.size11) {
  font-size: 2.76444444em
}

:deep(.katex .fontsize-ensurer.reset-size6.size1),
:deep(.katex .sizing.reset-size6.size1) {
  font-size: .5em
}

:deep(.katex .fontsize-ensurer.reset-size6.size2),
:deep(.katex .sizing.reset-size6.size2) {
  font-size: .6em
}

:deep(.katex .fontsize-ensurer.reset-size6.size3),
:deep(.katex .sizing.reset-size6.size3) {
  font-size: .7em
}

:deep(.katex .fontsize-ensurer.reset-size6.size4),
:deep(.katex .sizing.reset-size6.size4) {
  font-size: .8em
}

:deep(.katex .fontsize-ensurer.reset-size6.size5),
:deep(.katex .sizing.reset-size6.size5) {
  font-size: .9em
}

:deep(.katex .fontsize-ensurer.reset-size6.size6),
:deep(.katex .sizing.reset-size6.size6) {
  font-size: 1em
}

:deep(.katex .fontsize-ensurer.reset-size6.size7),
:deep(.katex .sizing.reset-size6.size7) {
  font-size: 1.2em
}

:deep(.katex .fontsize-ensurer.reset-size6.size8),
:deep(.katex .sizing.reset-size6.size8) {
  font-size: 1.44em
}

:deep(.katex .fontsize-ensurer.reset-size6.size9),
:deep(.katex .sizing.reset-size6.size9) {
  font-size: 1.728em
}

:deep(.katex .fontsize-ensurer.reset-size6.size10),
:deep(.katex .sizing.reset-size6.size10) {
  font-size: 2.074em
}

:deep(.katex .fontsize-ensurer.reset-size6.size11),
:deep(.katex .sizing.reset-size6.size11) {
  font-size: 2.488em
}

:deep(.katex .fontsize-ensurer.reset-size7.size1),
:deep(.katex .sizing.reset-size7.size1) {
  font-size: .41666667em
}

:deep(.katex .fontsize-ensurer.reset-size7.size2),
:deep(.katex .sizing.reset-size7.size2) {
  font-size: .5em
}

:deep(.katex .fontsize-ensurer.reset-size7.size3),
:deep(.katex .sizing.reset-size7.size3) {
  font-size: .58333333em
}

:deep(.katex .fontsize-ensurer.reset-size7.size4),
:deep(.katex .sizing.reset-size7.size4) {
  font-size: .66666667em
}

:deep(.katex .fontsize-ensurer.reset-size7.size5),
:deep(.katex .sizing.reset-size7.size5) {
  font-size: .75em
}

:deep(.katex .fontsize-ensurer.reset-size7.size6),
:deep(.katex .sizing.reset-size7.size6) {
  font-size: .83333333em
}

:deep(.katex .fontsize-ensurer.reset-size7.size7),
:deep(.katex .sizing.reset-size7.size7) {
  font-size: 1em
}

:deep(.katex .fontsize-ensurer.reset-size7.size8),
:deep(.katex .sizing.reset-size7.size8) {
  font-size: 1.2em
}

:deep(.katex .fontsize-ensurer.reset-size7.size9),
:deep(.katex .sizing.reset-size7.size9) {
  font-size: 1.44em
}

:deep(.katex .fontsize-ensurer.reset-size7.size10),
:deep(.katex .sizing.reset-size7.size10) {
  font-size: 1.72833333em
}

:deep(.katex .fontsize-ensurer.reset-size7.size11),
:deep(.katex .sizing.reset-size7.size11) {
  font-size: 2.07333333em
}

:deep(.katex .fontsize-ensurer.reset-size8.size1),
:deep(.katex .sizing.reset-size8.size1) {
  font-size: .34722222em
}

:deep(.katex .fontsize-ensurer.reset-size8.size2),
:deep(.katex .sizing.reset-size8.size2) {
  font-size: .41666667em
}

:deep(.katex .fontsize-ensurer.reset-size8.size3),
:deep(.katex .sizing.reset-size8.size3) {
  font-size: .48611111em
}

:deep(.katex .fontsize-ensurer.reset-size8.size4),
:deep(.katex .sizing.reset-size8.size4) {
  font-size: .55555556em
}

:deep(.katex .fontsize-ensurer.reset-size8.size5),
:deep(.katex .sizing.reset-size8.size5) {
  font-size: .625em
}

:deep(.katex .fontsize-ensurer.reset-size8.size6),
:deep(.katex .sizing.reset-size8.size6) {
  font-size: .69444444em
}

:deep(.katex .fontsize-ensurer.reset-size8.size7),
:deep(.katex .sizing.reset-size8.size7) {
  font-size: .83333333em
}

:deep(.katex .fontsize-ensurer.reset-size8.size8),
:deep(.katex .sizing.reset-size8.size8) {
  font-size: 1em
}

:deep(.katex .fontsize-ensurer.reset-size8.size9),
:deep(.katex .sizing.reset-size8.size9) {
  font-size: 1.2em
}

:deep(.katex .fontsize-ensurer.reset-size8.size10),
:deep(.katex .sizing.reset-size8.size10) {
  font-size: 1.44027778em
}

:deep(.katex .fontsize-ensurer.reset-size8.size11),
:deep(.katex .sizing.reset-size8.size11) {
  font-size: 1.72777778em
}

:deep(.katex .fontsize-ensurer.reset-size9.size1),
:deep(.katex .sizing.reset-size9.size1) {
  font-size: .28935185em
}

:deep(.katex .fontsize-ensurer.reset-size9.size2),
:deep(.katex .sizing.reset-size9.size2) {
  font-size: .34722222em
}

:deep(.katex .fontsize-ensurer.reset-size9.size3),
:deep(.katex .sizing.reset-size9.size3) {
  font-size: .40509259em
}

:deep(.katex .fontsize-ensurer.reset-size9.size4),
:deep(.katex .sizing.reset-size9.size4) {
  font-size: .46296296em
}

:deep(.katex .fontsize-ensurer.reset-size9.size5),
:deep(.katex .sizing.reset-size9.size5) {
  font-size: .52083333em
}

:deep(.katex .fontsize-ensurer.reset-size9.size6),
:deep(.katex .sizing.reset-size9.size6) {
  font-size: .5787037em
}

:deep(.katex .fontsize-ensurer.reset-size9.size7),
:deep(.katex .sizing.reset-size9.size7) {
  font-size: .69444444em
}

:deep(.katex .fontsize-ensurer.reset-size9.size8),
:deep(.katex .sizing.reset-size9.size8) {
  font-size: .83333333em
}

:deep(.katex .fontsize-ensurer.reset-size9.size9),
:deep(.katex .sizing.reset-size9.size9) {
  font-size: 1em
}

:deep(.katex .fontsize-ensurer.reset-size9.size10),
:deep(.katex .sizing.reset-size9.size10) {
  font-size: 1.20023148em
}

:deep(.katex .fontsize-ensurer.reset-size9.size11),
:deep(.katex .sizing.reset-size9.size11) {
  font-size: 1.43981481em
}

:deep(.katex .fontsize-ensurer.reset-size10.size1),
:deep(.katex .sizing.reset-size10.size1) {
  font-size: .24108004em
}

:deep(.katex .fontsize-ensurer.reset-size10.size2),
:deep(.katex .sizing.reset-size10.size2) {
  font-size: .28929605em
}

:deep(.katex .fontsize-ensurer.reset-size10.size3),
:deep(.katex .sizing.reset-size10.size3) {
  font-size: .33751205em
}

:deep(.katex .fontsize-ensurer.reset-size10.size4),
:deep(.katex .sizing.reset-size10.size4) {
  font-size: .38572806em
}

:deep(.katex .fontsize-ensurer.reset-size10.size5),
:deep(.katex .sizing.reset-size10.size5) {
  font-size: .43394407em
}

:deep(.katex .fontsize-ensurer.reset-size10.size6),
:deep(.katex .sizing.reset-size10.size6) {
  font-size: .48216008em
}

:deep(.katex .fontsize-ensurer.reset-size10.size7),
:deep(.katex .sizing.reset-size10.size7) {
  font-size: .57859209em
}

:deep(.katex .fontsize-ensurer.reset-size10.size8),
:deep(.katex .sizing.reset-size10.size8) {
  font-size: .69431051em
}

:deep(.katex .fontsize-ensurer.reset-size10.size9),
:deep(.katex .sizing.reset-size10.size9) {
  font-size: .83317261em
}

:deep(.katex .fontsize-ensurer.reset-size10.size10),
:deep(.katex .sizing.reset-size10.size10) {
  font-size: 1em
}

:deep(.katex .fontsize-ensurer.reset-size10.size11),
:deep(.katex .sizing.reset-size10.size11) {
  font-size: 1.19961427em
}

:deep(.katex .fontsize-ensurer.reset-size11.size1),
:deep(.katex .sizing.reset-size11.size1) {
  font-size: .20096463em
}

:deep(.katex .fontsize-ensurer.reset-size11.size2),
:deep(.katex .sizing.reset-size11.size2) {
  font-size: .24115756em
}

:deep(.katex .fontsize-ensurer.reset-size11.size3),
:deep(.katex .sizing.reset-size11.size3) {
  font-size: .28135048em
}

:deep(.katex .fontsize-ensurer.reset-size11.size4),
:deep(.katex .sizing.reset-size11.size4) {
  font-size: .32154341em
}

:deep(.katex .fontsize-ensurer.reset-size11.size5),
:deep(.katex .sizing.reset-size11.size5) {
  font-size: .36173633em
}

:deep(.katex .fontsize-ensurer.reset-size11.size6),
:deep(.katex .sizing.reset-size11.size6) {
  font-size: .40192926em
}

:deep(.katex .fontsize-ensurer.reset-size11.size7),
:deep(.katex .sizing.reset-size11.size7) {
  font-size: .48231511em
}

:deep(.katex .fontsize-ensurer.reset-size11.size8),
:deep(.katex .sizing.reset-size11.size8) {
  font-size: .57877814em
}

:deep(.katex .fontsize-ensurer.reset-size11.size9),
:deep(.katex .sizing.reset-size11.size9) {
  font-size: .69453376em
}

:deep(.katex .fontsize-ensurer.reset-size11.size10),
:deep(.katex .sizing.reset-size11.size10) {
  font-size: .83360129em
}

:deep(.katex .fontsize-ensurer.reset-size11.size11),
:deep(.katex .sizing.reset-size11.size11) {
  font-size: 1em
}

:deep(.katex .delimsizing.size1) {
  font-family: KaTeX_Size1
}

:deep(.katex .delimsizing.size2) {
  font-family: KaTeX_Size2
}

:deep(.katex .delimsizing.size3) {
  font-family: KaTeX_Size3
}

:deep(.katex .delimsizing.size4) {
  font-family: KaTeX_Size4
}

:deep(.katex .delimsizing.mult .delim-size1>.katex-span) {
  font-family: KaTeX_Size1
}

:deep(.katex .delimsizing.mult .delim-size4>.katex-span) {
  font-family: KaTeX_Size4
}

:deep(.katex .nulldelimiter) {
  display: inline-block;
  width: .12em
}

:deep(.katex .delimcenter) {
  position: relative
}

:deep(.katex .op-symbol) {
  position: relative
}

:deep(.katex .op-symbol.small-op) {
  font-family: KaTeX_Size1
}

:deep(.katex .op-symbol.large-op) {
  font-family: KaTeX_Size2
}

:deep(.katex .op-limits>.vlist-t) {
  text-align: center
}

:deep(.katex .accent>.vlist-t) {
  text-align: center
}

:deep(.katex .accent .accent-body) {
  position: relative
}

.katex .accent .accent-body:not(.accent-full) {
  width: 0
}

:deep(.katex .overlay) {
  display: block
}

:deep(.katex .mtable .vertical-separator) {
  display: inline-block;
  min-width: 1px
}

:deep(.katex .mtable .arraycolsep) {
  display: inline-block
}

:deep(.katex .mtable .col-align-c>.vlist-t) {
  text-align: center
}

:deep(.katex .mtable .col-align-l>.vlist-t) {
  text-align: left
}

:deep(.katex .mtable .col-align-r>.vlist-t) {
  text-align: right
}

:deep(.katex .svg-align) {
  text-align: left
}

:deep(.katex .katex-svg) {
  display: block;
  position: absolute;
  width: 100%;
  height: inherit;
  fill: currentColor;
  stroke: currentColor;
  fill-rule: nonzero;
  fill-opacity: 1;
  stroke-width: 1;
  stroke-linecap: butt;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1
}

:deep(.katex .katex-svg path) {
  stroke: none
}

:deep(.katex img) {
  border-style: none;
  min-width: 0;
  min-height: 0;
  max-width: none;
  max-height: none
}

:deep(.katex .stretchy) {
  width: 100%;
  display: block;
  position: relative;
  overflow: hidden
}

:deep(.katex .stretchy::after),
:deep(.katex .stretchy::before) {
  content: ""
}

:deep(.katex .hide-tail) {
  width: 100%;
  position: relative;
  overflow: hidden
}

:deep(.katex .halfarrow-left) {
  position: absolute;
  left: 0;
  width: 50.2%;
  overflow: hidden
}

:deep(.katex .halfarrow-right) {
  position: absolute;
  right: 0;
  width: 50.2%;
  overflow: hidden
}

:deep(.katex .brace-left) {
  position: absolute;
  left: 0;
  width: 25.1%;
  overflow: hidden
}

:deep(.katex .brace-center) {
  position: absolute;
  left: 25%;
  width: 50%;
  overflow: hidden
}

:deep(.katex .brace-right) {
  position: absolute;
  right: 0;
  width: 25.1%;
  overflow: hidden
}

:deep(.katex .x-arrow-pad) {
  padding: 0 .5em
}

:deep(.katex .cd-arrow-pad) {
  padding: 0 .55556em 0 .27778em
}

:deep(.katex .mover),
:deep(.katex .munder),
:deep(.katex .x-arrow) {
  text-align: center
}

:deep(.katex .boxpad) {
  padding: 0 .3em
}

:deep(.katex .fbox),
:deep(.katex .fcolorbox) {
  box-sizing: border-box;
  border: .04em solid
}

:deep(.katex .cancel-pad) {
  padding: 0 .2em
}

:deep(.katex .cancel-lap) {
  margin-left: -.2em;
  margin-right: -.2em
}

:deep(.katex .sout) {
  border-bottom-style: solid;
  border-bottom-width: .08em
}

:deep(.katex .angl) {
  box-sizing: border-box;
  border-top: .049em solid;
  border-right: .049em solid;
  margin-right: .03889em
}

:deep(.katex .anglpad) {
  padding: 0 .03889em
}

:deep(.katex .eqn-num::before) {
  counter-increment: katexEqnNo;
  content: "(" counter(katexEqnNo) ")"
}

:deep(.katex .mml-eqn-num::before) {
  counter-increment: mmlEqnNo;
  content: "(" counter(mmlEqnNo) ")"
}

:deep(.katex .mtr-glue) {
  width: 50%
}

:deep(.katex .cd-vert-arrow) {
  display: inline-block;
  position: relative
}

:deep(.katex .cd-label-left) {
  display: inline-block;
  position: absolute;
  right: calc(50% + .3em);
  text-align: left
}

:deep(.katex .cd-label-right) {
  display: inline-block;
  position: absolute;
  left: calc(50% + .3em);
  text-align: right
}