/* KaTeX 数学公式样式 */
:deep(.katex) {
  counter-reset: katexEqnNo mmlEqnNo;
  font: normal 1.21em KaTeX_Main, Times New Roman, serif;
  line-height: 1.2;
  text-indent: 0;
  text-rendering: auto
}

:deep(.katex text),
:deep(.katex view) {
  -ms-high-contrast-adjust: none !important;
  border-color: currentColor
}

:deep(.katex .katex-mathml) {
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden
}

:deep(.katex .katex-html>.newline) {
  display: block
}

:deep(.katex .base) {
  position: relative;
  display: inline-block;
  white-space: nowrap;
  width: min-content
}

:deep(.katex .strut) {
  display: inline-block
}

:deep(.katex .textbf) {
  font-weight: 700
}

:deep(.katex .textit) {
  font-style: italic
}

:deep(.katex .textrm) {
  font-family: KaTeX_Main
}

:deep(.katex .textsf) {
  font-family: KaTeX_SansSerif
}

:deep(.katex .texttt) {
  font-family: KaTeX_Typewriter
}

:deep(.katex .mathnormal) {
  font-family: KaTeX_Math;
  font-style: italic
}

:deep(.katex .mathit) {
  font-family: KaTeX_Main;
  font-style: italic
}

:deep(.katex .mathrm) {
  font-style: normal
}

:deep(.katex .mathbf) {
  font-family: KaTeX_Main;
  font-weight: 700
}

:deep(.katex .boldsymbol) {
  font-family: KaTeX_Math;
  font-weight: 700;
  font-style: italic
}

:deep(.katex .amsrm) {
  font-family: KaTeX_AMS
}

:deep(.katex .mathbb),
:deep(.katex .textbb) {
  font-family: KaTeX_AMS
}

:deep(.katex .mathcal) {
  font-family: KaTeX_Caligraphic
}

:deep(.katex .mathfrak),
:deep(.katex .textfrak) {
  font-family: KaTeX_Fraktur
}

:deep(.katex .mathtt) {
  font-family: KaTeX_Typewriter
}

:deep(.katex .mathscr),
:deep(.katex .textscr) {
  font-family: KaTeX_Script
}

:deep(.katex .mathsf),
:deep(.katex .textsf) {
  font-family: KaTeX_SansSerif
}

:deep(.katex .mathboldsf),
:deep(.katex .textboldsf) {
  font-family: KaTeX_SansSerif;
  font-weight: 700
}

:deep(.katex .mathitsf),
:deep(.katex .textitsf) {
  font-family: KaTeX_SansSerif;
  font-style: italic
}

:deep(.katex .mainrm) {
  font-family: KaTeX_Main;
  font-style: normal
}

:deep(.katex .vlist-t) {
  display: inline-table;
  table-layout: fixed;
  border-collapse: collapse
}

:deep(.katex .vlist-r) {
  display: table-row
}

:deep(.katex .vlist) {
  display: table-cell;
  vertical-align: bottom;
  position: relative
}

:deep(.katex .vlist>.katex-span) {
  display: block;
  height: 0;
  position: relative
}

:deep(.katex .vlist>.katex-span>.katex-span) {
  display: inline-block
}

:deep(.katex .vlist>.katex-span>.pstrut) {
  overflow: hidden;
  width: 0
}

:deep(.katex .vlist-t2) {
  margin-right: -2px
}

:deep(.katex .vlist-s) {
  display: table-cell;
  vertical-align: bottom;
  font-size: 1px;
  width: 2px;
  min-width: 2px
}

:deep(.katex .vbox) {
  display: inline-flex;
  flex-direction: column;
  align-items: baseline
}

:deep(.katex .hbox) {
  display: inline-flex;
  flex-direction: row;
  width: 100%
}

:deep(.katex .thinbox) {
  display: inline-flex;
  flex-direction: row;
  width: 0;
  max-width: 0
}

:deep(.katex .msupsub) {
  text-align: left
}

:deep(.katex .mfrac>.katex-span>.katex-span) {
  text-align: center
}

:deep(.katex .mfrac .frac-line) {
  display: inline-block;
  width: 100%;
  border-bottom-style: solid
}

:deep(.katex .hdashline),
:deep(.katex .hline),
:deep(.katex .mfrac .frac-line),
:deep(.katex .overline .overline-line),
:deep(.katex .rule),
:deep(.katex .underline .underline-line) {
  min-height: 1px
}

:deep(.katex .mspace) {
  display: inline-block
}

:deep(.katex .clap),
:deep(.katex .llap),
:deep(.katex .rlap) {
  width: 0;
  position: relative
}

:deep(.katex .clap>.inner),
:deep(.katex .llap>.inner),
:deep(.katex .rlap>.inner) {
  position: absolute
}

:deep(.katex .clap>.fix),
:deep(.katex .llap>.fix),
:deep(.katex .rlap>.fix) {
  display: inline-block
}

:deep(.katex .llap>.inner) {
  right: 0
}

:deep(.katex .clap>.inner),
:deep(.katex .rlap>.inner) {
  left: 0
}

:deep(.katex .clap>.inner>.katex-span) {
  margin-left: -50%;
  margin-right: 50%
}

:deep(.katex .rule) {
  display: inline-block;
  border: solid 0;
  position: relative
}

:deep(.katex .hline),
:deep(.katex .overline .overline-line),
:deep(.katex .underline .underline-line) {
  display: inline-block;
  width: 100%;
  border-bottom-style: solid
}

:deep(.katex .hdashline) {
  display: inline-block;
  width: 100%;
  border-bottom-style: dashed
}

:deep(.katex .sqrt>.root) {
  margin-left: .27777778em;
  margin-right: -.55555556em
}

:deep(.katex-display) {
  display: block;
  margin: 1em 0;
  text-align: center;
  overflow-x: auto;
  overflow-y: hidden;
}

:deep(.katex-display>.katex) {
  display: block;
  text-align: center;
  white-space: nowrap
}

:deep(.katex-display>.katex>.katex-html) {
  display: block;
  position: relative
}

:deep(.katex-display>.katex>.katex-html>.tag) {
  position: absolute;
  right: 0
}

:deep(.katex-display.leqno>.katex>.katex-html>.tag) {
  left: 0;
  right: auto
}

:deep(.katex-display.fleqn>.katex) {
  text-align: left;
  padding-left: 2em
}