/* KaTeX 字体定义 - 仅保留 TTF 格式以减小包体积
 * 已移除不常用的特殊字体：Caligraphic（花体）、Fraktur（哥特体）、Script（手写体）
 */
@font-face {
  font-family: KaTeX_AMS;
  src: url(/static/fonts/KaTeX_AMS-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: KaTeX_Main;
  src: url(/static/fonts/KaTeX_Main-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: KaTeX_Main;
  src: url(/static/fonts/KaTeX_Main-BoldItalic.ttf) format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: KaTeX_Main;
  src: url(/static/fonts/KaTeX_Main-Italic.ttf) format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: KaTeX_Main;
  src: url(/static/fonts/KaTeX_Main-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: KaTeX_Math;
  src: url(/static/fonts/KaTeX_Math-BoldItalic.ttf) format("truetype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: KaTeX_Math;
  src: url(/static/fonts/KaTeX_Math-Italic.ttf) format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: KaTeX_SansSerif;
  src: url(/static/fonts/KaTeX_SansSerif-Bold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: KaTeX_SansSerif;
  src: url(/static/fonts/KaTeX_SansSerif-Italic.ttf) format("truetype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: KaTeX_SansSerif;
  src: url(/static/fonts/KaTeX_SansSerif-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: KaTeX_Size1;
  src: url(/static/fonts/KaTeX_Size1-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: KaTeX_Size2;
  src: url(/static/fonts/KaTeX_Size2-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

/* 以下字体已被移除以减小包体积 */
/* 
@font-face {
  font-family: KaTeX_Size3;
  src: url(/static/fonts/KaTeX_Size3-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: KaTeX_Size4;
  src: url(/static/fonts/KaTeX_Size4-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: KaTeX_Typewriter;
  src: url(/static/fonts/KaTeX_Typewriter-Regular.ttf) format("truetype");
  font-weight: 400;
  font-style: normal;
}
*/
