@import '~@/uni_modules/lime-style/index.scss';
/* #ifdef  uniVersion >= 4.75 */ 
$use-css-var: true;
/* #endif */


$overlay: #{$prefix}-overlay;
$overlay-bg-color: create-var(overlay-bg-color, $bg-color-mask);
$overlay-z-index: create-var(overlay-z-index, 998);
$overlay-transition-duration: create-var(overlay-transition-duration, 300ms);
/* #ifndef APP-ANDROID || APP-IOS || APP-NVUE || APP-HARMONY */
$overlay-blur: blur(create-var(overlay-blur, 4px));
/* #endif */

.#{$overlay}{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	bottom: 0;
	background-color: $overlay-bg-color;
	
	transition-property: opacity;
	transition-timing-function: ease;
	z-index: $overlay-z-index;
	opacity: 1; // uniapp x ios 必须要设置
	/* #ifndef APP-ANDROID || APP-IOS || APP-NVUE || APP-HARMONY */
	backdrop-filter: $overlay-blur;
	transition-duration: $overlay-transition-duration;
	/* #endif */
	/* #ifdef APP-ANDROID || APP-IOS || APP-NVUE || APP-HARMONY */
	transition-duration: 300ms;//$overlay-transition-duration;
	/* #endif */
}

.l-fade-enter {
	opacity: 0;
}

.l-fade-leave-to {
	opacity: 0;
}